.wrapper {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
}

.git,
.html,
.react,
.javascript,
.typescript,
.figma,
.ux,
.css,
.node,
.aurelia,
.devops {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.git-img,
.html-img,
.react-img,
.javascript-img,
.typescript-img,
.figma-img,
.ux-img,
.css-img,
.node-img,
.aurelia-img,
.devops-img {
    width: 70px;
    height: 70px;
    pointer-events: none;
}

.git-text,
.html-text,
.react-text,
.javascript-text,
.typescript-text,
.figma-text,
.ux-text,
.css-text,
.node-text,
.aurelia-text,
.devops-text {
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.myName {
    font-size: 70px;
    font-family: "Winky Rough", sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgb(146, 80, 91);
    padding-bottom: 40px;
}

.start {
    margin-bottom: 80px;
}

.skills-title {
    margin-top: 250px;
    font-size: 25px;
    font-family: "Winky Rough", sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgb(146, 80, 91);
}

.fastInfo {
    width: 650px;
    height: 300px;
    margin: 0 auto;
    background-color: #ffffff4a;
    padding:40px;
    font-family: "Winky Rough", sans-serif;
    font-size: 25px;
    border-radius: 25px;

}